CONFIG_LOCALVERSION="-arter97+truenas"
CONFIG_LOCALVERSION_AUTO=y
CONFIG_KERNEL_ZSTD=y
# Tune timings
CONFIG_NO_HZ_IDLE=y
CONFIG_NO_HZ_FULL=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_TICK_CPU_ACCOUNTING=y
# Disable overly-paranoid security, debug configurations
CONFIG_PSI=n
CONFIG_MEMCG=n
CONFIG_PROFILING=n
CONFIG_AUDIT=n
CONFIG_MODVERSIONS=n
CONFIG_MODULE_SIG=n
CONFIG_SPECULATION_MITIGATIONS=n
CONFIG_STACKPROTECTOR=n
CONFIG_VMAP_STACK=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SLAB_FREELIST_RANDOM=n
CONFIG_SLAB_FREELIST_HARDENED=n
CONFIG_SHUFFLE_PAGE_ALLOCATOR=n
CONFIG_SECURITY=n
CONFIG_HARDENED_USERCOPY=n
CONFIG_FORTIFY_SOURCE=n
CONFIG_LSM=""
CONFIG_INIT_STACK_NONE=y
CONFIG_LIST_HARDENED=n
CONFIG_BUG_ON_DATA_CORRUPTION=n
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DYNAMIC_DEBUG_CORE=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_DEBUG_INFO_NONE=y
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_MISC=n
CONFIG_PAGE_EXTENSION=n
CONFIG_PAGE_POISONING=n
CONFIG_SCHED_STACK_END_CHECK=n
CONFIG_SCHEDSTATS=n
CONFIG_FUNCTION_TRACER=n
CONFIG_STACK_TRACER=n
CONFIG_UNWINDER_GUESS=y
# Limit memory to 256 TB
CONFIG_PGTABLE_LEVELS=4
# Use madvise THP
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
# Enable MGLRU by default
CONFIG_LRU_GEN_ENABLED=y
# Disable MPTCP
CONFIG_MPTCP=n
# Use unsigned keys
CONFIG_SYSTEM_TRUSTED_KEYS=""
